<section class="ftco-section img" style="background-image: url(https://colorlib.com/preview/theme/feliciano/images/bg_3.jpg)" data-stellar-background-ratio="0.5">
<%= form_with(model: [@restaurante, @plate, plate_comment], local: true) do |form| %>
  <% if plate_comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(plate_comment.errors.count, "error") %> prohibited this plate_comment from being saved:</h2>

      <ul>
      <% plate_comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="container">
  <div class="col-md-7 ftco-animate makereservation p-4 px-md-5 pb-md-5">
  <div class="heading-section ftco-animate mb-5 text-center">
  <span class="subheading">foodie order</span>
  <h2 class="mb-4">Comentario:</h2> 
  </div>
  <center>
  <div class="form-group text center">
    <div class="field">
      <%= form.label :body, 'Comentario: '%><br>
      <%= form.text_area :body %>
    </div>
  </div>
  <div class="form-group text-center">
    <div class="actions">
      <%= form.submit "Publicar", value: "Publicar", class: "btn btn-primary py-3 px-5"%>
    </div>
    <% end %>
    <%= link_to 'Atrás', restaurante_plate_plate_comments_path(@restaurante, @plate) %>
  </div>
  </div>
  </section>
